* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GLOBAL */
h1 {
    font-size: 25px;
    color: black;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

.titles h1 {
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px;
}

.titles h3 {
    margin-left: 50px;
}

.titles h4 {
    margin-left: 50px;
}

/* INDEX */
/* HEADER */
header {
    padding: 10px 50px 10px 50px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f7a8c;
}

.img-logo img {
    margin-top: 8px;
    width: 150px;
    height: 130px;
}

nav {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 13px;
}

.blanco {
    color: white;
    font-weight: 600;
}

/* BANNER */
.banner {
    background-image: url(img/prog2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
    padding-top: 60px;
}

/* FOOTER */
footer {
    background-color: #1f7a8c;
    padding: 10px 50px 10px 50px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-boxf {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.icons-foot {
    font-size: 20px;
    display: flex;
}

#copyright {
    padding: 10px;
}

.icons-foot i {
    padding: 10px;
    margin: 0 20px 0 ;
}

iframe {
    margin-top: 20px;
    width: 1310px;
    height: 80px;
}


/* NUESTROS SERVICIOS */
main {
    background-color: rgb(230, 230, 230);
}

.box-container1 {
    margin-left: 150px;
    width: 1010px;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.serv-box {
    border: solid #044157;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: 10px 10px 10px #757375;
    background-color: whitesmoke;
}

.titulo-box {
    display: flex;
    text-align: center center;
    margin-bottom: 15px;
    background-color: #044157;
    height: 70px;
    color: white;
}

.titulo-box h2 {
    width: 130px;
    margin: 10px 0 10px 8px;
    display: flex;
}

.pad h2 {
    padding-top: 10px;
} 

.titulo-box i {
    font-size: 30px;
    margin: 18px 0 0 15px;
    padding-right: 10px;
}

.serv-box p {
    margin: 10px;
}


/* NUESTRAS TECNOLOGIAS */
.box-container2 {
    margin-left: 220px;
    width: 890px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tec-box {
    border: solid #044157;
    border-radius: 10px;
    width: 230px;
    height: 230px;
    margin: 20px;
    box-shadow: 10px 10px 10px #757375;
    color: white;
}

.frontend {
    background-image: url(img/react.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.backend {
    background-image: url(img/nodejs.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cloud {
    background-image: url(img/serv.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tec-box h2 {
    text-align: center;
    background-color: rgb(4, 65, 87, .4);
    height: 70px;
    color: white;
    padding-top: 20px;
    margin-bottom: 20px;
}

.tec-box p {
    font-size: 18px;
    margin: 25px;
}


/* SERVICES */
.blanco {
    color: white;
    font-weight: 600;
}

/* DESARROLLO WEB */
.box-container3 {
    margin-left: 215px;
    width: 920px;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.des-box {
    border: solid #044157;
    border-radius: 10px;
    width: 210px;
    height: 255px;
    margin: 40px;
    box-shadow: 10px 10px 10px #757375;
}

.des h2{
    padding-top: 15px;
}

.des-text p {
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;

}

.btn {
    width: 120px;
    height: 30px;
    background-color: #1f7a8c;
    text-align: center;
    padding: 5px;
    margin-left: 43px;
    margin-top: 15px;
    border-radius: 8px;
}

.btn a {
    text-decoration: none;
    color: white;
}


/* CLOUDING COMPUTING */
.box-container4 {
    margin-left: 140px;
    width: 1040px;
    height: 680px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
}

.cloud-box {
    border: solid #044157;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 40px;
    box-shadow: 10px 10px 10px #757375;
}

.cloud-box p {
    font-size: 16px;
    padding: 15px;
    margin-top: 20px;
}

/* CONTACT ME */
/* FORM */
.contact-form {
    display: flex;
    justify-content: space-around;
}

.title-contact {
    margin-left: 75px;
    margin-top: 20px;
}

.form-box {
    border: solid #044157;
    width: 330px;
    height: 550px;
    border-radius: 9px;
    align-items: center;
    margin-left: 190px;
    padding-left: 8px;
    box-shadow: 10px 10px 10px #757375;
    margin-bottom: 30px;
    background-color: rgba(4, 65, 87, .1);
}

form {
    width: 250px;
    margin-left: 30px;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border: solid #044157;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #757375;
}

button {
    width: 120px;
    height: 30px;
    background-color: #1f7a8c;
    text-align: center;
    padding: 5px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    color: white;
}

.form-img img {
    margin-left: 20px;
    width: 600px;
    height: 560px;
}

/* ABOUT ME */
.about {
    padding: 40px 60px;
    display: flex;
    justify-content: space-around;
}

.circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url(img/perf1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    border: double 5px #044157;
    box-shadow: 10px 10px 10px #757375;
}

.info {
    border: solid #044157;
    width: 550px;
    height: 550px;
    box-shadow: 10px 10px 10px #757375;
    border-radius: 10px;
}

.info h1 {
    background-color: rgba(4, 65, 87, .4);
    color: white;
    padding-bottom: 15px;
}

.info p {
    font-size: 20px;
    padding: 20px;
}

/* LOGIN */
.login-form {
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.title-login {
    margin: 10px 0 10px 106px;
}

.login-box {
    border: solid #044157;
    width: 350px;
    height: 330px;
    padding: 20px;
    border-radius: 9px;
    align-items: center;
}

.aqui p {
    margin-top: 30px;
    font-size: 13px;
}

.login-aqui {
    color: #044157;
    font-size: 14px;
}

.btn-login {
    margin-left: 7px;
    margin-top: 10px;
}

/* SIGNUP */
.signup-form {
    padding: 20px 70px 20px 0;
    display: flex;
    justify-content: space-around;
}

.signup-box {
    border: solid #044157;
    width: 350px;
    height: 480px;
    padding: 20px;
    border-radius: 9px;
    align-items: center;
    margin-left: 60px
}
